@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark;
}

label {
  @apply text-white font-bold text-xl;
}

input,
textarea {
  @apply bg-darkLight border-2 border-darkBorder rounded-[8px] p-3 outline-none text-white text-sm w-full;
}

.bg-blur {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.shake-animation {
  -webkit-animation: shake 3s linear infinite;
  animation: shake 3s linear infinite;
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
}

@-webkit-keyframes shake {
  0% {
      transform: translateX(3px) rotate(1deg)
  }

  2.5% {
      transform: translateX(-3px) rotate(-1deg)
  }

  5% {
      transform: translateX(3px) rotate(1deg)
  }

  7.5% {
      transform: translateX(-3px) rotate(-1deg)
  }

  10% {
      transform: translateX(2px) rotate(1deg)
  }

  12.5% {
      transform: translateX(-2px) rotate(-1deg)
  }

  15% {
      transform: translateX(2px) rotate(1deg)
  }

  17.5% {
      transform: translateX(-2px) rotate(-1deg)
  }

  20% {
      transform: translateX(1px) rotate(1deg)
  }

  22.5% {
      transform: translateX(-1px) rotate(-1deg)
  }

  25% {
      transform: translateX(0) rotate(0)
  }
}

@keyframes shake {
  0% {
      transform: translateX(3px) rotate(1deg)
  }

  2.5% {
      transform: translateX(-3px) rotate(-1deg)
  }

  5% {
      transform: translateX(3px) rotate(1deg)
  }

  7.5% {
      transform: translateX(-3px) rotate(-1deg)
  }

  10% {
      transform: translateX(2px) rotate(1deg)
  }

  12.5% {
      transform: translateX(-2px) rotate(-1deg)
  }

  15% {
      transform: translateX(2px) rotate(1deg)
  }

  17.5% {
      transform: translateX(-2px) rotate(-1deg)
  }

  20% {
      transform: translateX(1px) rotate(1deg)
  }

  22.5% {
      transform: translateX(-1px) rotate(-1deg)
  }

  25% {
      transform: translateX(0) rotate(0)
  }
}
